requests
requests-oauthlib
feedparser
webbrowser
datetime
pyaudio
pynput
requests
requests-oathlib
responses
pytest
pytest-cov
pytest-runner
mccabe
six
coverage
coveralls
codecov
check-manifest
tox
tox-pyenv
pycodestyle
